footer
  .container.text-center
    p.pull-left © 2015 Audrey Boyd, All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://www.linkedin.com/pub/audrey-boyd/a2/109/455') LinkedIn Profile
      li
        a(href='https://github.com/nskpaun') Developer