extends ./layout

block content
  .page-header
    h3 Sign up
  form.form-horizontal(id='project-form', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='pname') Name
      .col-sm-7
        input.form-control(type='pname', name='pname', id='pname', placeholder='Name', autofocus)
    - var n = 0
    while n < 7
      - n++
      .form-group
        label.col-sm-3.control-label(for='psubtitle[]')= "Subtitle " + n
        .col-sm-7
          input.form-control(type='text', name='psubtitle[]', id='psubtitle'+n, placeholder='Subtitle')
      .form-group
        label.col-sm-3.control-label(for='pdescription[]')= "Description " + n
        .col-sm-7
          input.form-control(type='text', name='pdescription[]', id='pdescription'+n, placeholder='Description')
      .form-group
        label.col-sm-3.control-label(for='purl[]')= "Image Url " + n
        .col-sm-7
          input.form-control(type='text', name='purl[]', id='purl'+n, placeholder='Image Url')
      .form-group
    .col-sm-offset-3.col-sm-7
      button.btn.btn-success(type='submit')
        i.fa.fa-user-plus
        | Submit New Project
