extends layout


block content
  .page-header
    h3= title

  .circle-container-gray
  .circle-container-white-line
  .circle-container-gray-center
  - var slides = projects[0].slide
  div.circle-container
    - var m = 0
    while m < 7
      - var degree = m*51+3;
      a(class='deg'+degree)
        div(class='rotate'+degree)=slides[m].subtitle
      -m++
  - var n = 0
  while n < 7
    .circle-container-content(id='content0'+n)
      a.close-button close
      h4=slides[n].subtitle
      p=slides[n].description
    -n++